OPENREYESTR/FOP_FULL_out.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

<xs:element name="SUBJECT">
  <xs:annotation><xs:documentation>Суб’єкт ФОП (структура відповідає шаблону з прикладу)</xs:documentation></xs:annotation>
  <xs:complexType>
    <xs:sequence>
      <xs:element name="RECORD" type="xs:string" minOccurs="1">
        <xs:annotation><xs:documentation>Унікальний ідентифікатор суб’єкта в Єдиному державному реєстрі</xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="NAME" type="xs:string" minOccurs="0">
        <xs:annotation><xs:documentation>Прізвище, ім'я, по батькові</xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="STAN" type="xs:string" minOccurs="0">
        <xs:annotation><xs:documentation>Стан діяльності</xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="FARMER" type="xs:string" minOccurs="0">
        <xs:annotation><xs:documentation>Ознака створення сімейного фермерського господарств</xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="ESTATE_MANAGER" type="xs:string" minOccurs="0">
        <xs:annotation><xs:documentation>Прізвище, ім’я, по батькові особи, яка призначена управителем майна фізичної особи – підприємця</xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="REGISTRATION" type="xs:string" minOccurs="0">
        <xs:annotation><xs:documentation>Дата державної реєстрації, дата та номер реєстраційної дії</xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="TERMINATED_INFO" type="xs:string" minOccurs="0">
        <xs:annotation><xs:documentation>Дата та номер запису про державну реєстрацію припинення підприємницької діяльності фізичною особою - підприємцем, підстава для його внесення</xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="TERMINATION_CANCEL_INFO" type="xs:string" minOccurs="0">
        <xs:annotation><xs:documentation>Дата відміни державної реєстрації припинення підприємницької діяльності фізичною особою - підприємцем, підстава для її внесення</xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="EXCHANGE_DATA" type="EXCHANGE_DATA_Type" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:complexType name="EXCHANGE_DATA_Type" mixed="true">
  <xs:annotation><xs:documentation>Відомості, отримані в порядку інформаційної взаємодії між Єдиним державним реєстром та інформаційними системами державних органів</xs:documentation></xs:annotation>
  <xs:sequence>
    <xs:element name="EXCHANGE_ANSWER" type="EXCHANGE_ANSWER_Type" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="EXCHANGE_ANSWER_Type" mixed="true">
  <xs:annotation><xs:documentation>Окремий набір даних від одного органу</xs:documentation></xs:annotation>
  <xs:sequence>
    <xs:element name="TAX_PAYER_TYPE" type="xs:string" minOccurs="0">
      <xs:annotation><xs:documentation>Відомості про відомчий реєстр Державної податкової служби України</xs:documentation></xs:annotation>
    </xs:element>
    <xs:element name="START_DATE" type="xs:string" minOccurs="0">
      <xs:annotation><xs:documentation>Дата запису про взяття на облік</xs:documentation></xs:annotation>
    </xs:element>
    <xs:element name="START_NUM" type="xs:string" minOccurs="0">
      <xs:annotation><xs:documentation>Номер запису про взяття на облік</xs:documentation></xs:annotation>
    </xs:element>
    <xs:element name="END_DATE" type="xs:string" minOccurs="0">
      <xs:annotation><xs:documentation>Дата запису про зняття з обліку</xs:documentation></xs:annotation>
    </xs:element>
    <xs:element name="END_NUM" type="xs:string" minOccurs="0">
      <xs:annotation><xs:documentation>Номер запису про зняття з обліку</xs:documentation></xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

</xs:schema>
